<tr>
  <td><%= order.id %></td>
  <td><%= order.payments %></td>
  <td><%= order.user.name %></td>
  <td><%= order.cart.total_amount %></td>
  <td><%= order.order_code %></td>
  <td><%= order.status %></td>
</tr>
